# Identifies files to be ignored by Git.
# Also used by fd|fdfind  to identify directories and files to ignore

# Optional local Emacs control
\.dir-local.el
# Local tools - not public
seed7-report.el

# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Emacs Backup files
*~

# Emacs temporary files
.#*
*#
\#*

# Emacs undo-tree save-files
*.~undo-tree

# Emacs local
.dir-locals.el

# macOS fork files
.DS_Store

# Temporary holding directories
tmp/*
old/*

# Local html rendering of reStructuredText or markdown files
*.html

# Test passed tag files
*.test-passed

# Generated s7xref executable
tools/s7xref


# ----------------------------------------------------------------------------
