# Identifies files to be ignored by Git.
# Also used by fd|fdfind  to identify directories and files to ignore

# Compiled
*.elc


# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Emacs Backup files
*~

# Emacs temporary files
.#*
*#
\#*

# Emacs undo-tree save-files
*.~undo-tree

# macOS fork files
.DS_Store

# ----------------------------------------------------------------------------
